<div class='list-content'>
  <% @surveys.each do |survey| %>
    <div class="survey">
      <div class='name'>
        <%= survey.name %>
      </div>
      <div class='actions'>
        <div class='btn-container'>
          <a  class='btn' href='/surveys/<%= survey.id %>'>take this survey</a>
        </div>
        <div class='btn-container'>
          <a  class='btn' href='/users/<%= survey.user_id %>'>more surveys by this user</a>
        </div>
      </div>
    </div>
  <%end%>
</div>
