<div class='list-content'>
  <% @surveys.each do |survey| %>
    <div class="survey">
      <div class='name'>
        <p class= "survey-index-name"><%= survey.name %></p>
        <a  class='btn' href='/surveys/<%= survey.id %>'>take this survey</a>
<!--         <a  class='btn' href='/users/<%= survey.user_id %>'>more surveys by this user</a> -->
      </div>
        <div class='user'>
        </div>
    </div>
  <%end%>
</div>
