<div class='nav'>
  <div class= 'nav-container'>
    <ul>
      <li><a id="make-survey" href="/users/<%=current_user.id%>/surveys/new">make your survey</a></li>
             <li><a id="logout" href="/logout">logout</a></li>
    </ul>
  </div>
</div>




<!-- <div id='cssmenu'>
<ul>
  <li class ='active'><a id="make-survey" href="/users/<%=current_user.id%>/surveys/new">make your survey</a></li>
  <li><a id="logout" href="/logout">logout</a></li>
</ul>
</div> -->

