<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400italic,400' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/survey.js"></script>
  <script src="/js/question.js"></script>
  <script src="/js/option.js"></script>
  <script src="/js/answer.js"></script>
  <script src="/js/form_creator.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
    <%= erb :_header, :layout => false %>
  </header>
  <% if current_user %>
    <%= erb :_navigation, :layout => false %>
  <% end %>
  <div id="content">
  <%= yield %>
  </div>
</body>
</html>
