<div class='login'>
  <div class='form-content'>
    <form action="/login" method="post">
      <div class='hr-input-field'>
        <label>username</label>
        <input type='text' name='user[name]' />
      </div>
      <div class='hr-input-field'>
        <label>password</label>
        <input type='password' name="user[password]" />
      </div>
      <div class='actions'>
        <input class='btn' type='submit' value='login'/>
      </div>
    </form>
  </div>
</div>
<div class = 'signup'>
  <div class='form-content'>
    <form action="/users" method="post">
      <div class='hr-input-field'>
        <label>your username</label>
        <input type='text' name='user[name]' />
      </div>
      <div class='hr-input-field'>
        <label>your email</label>
        <input type='text' name='user[email]' />
      </div>
      <div class='hr-input-field'>
        <label>your password</label>
        <input type='password' name='user[password]' />
        <input type='submit' value='orangustart!' />
      </div>
    </form>
  </div>
</div>
